<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- script src="{{ url_for('static', filename='main.js') }}"></!-- -->
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <div class="container-fluid maindiv">
        
        <h1>Loan Payment Schedule</h1>
        <div id="tablediv">
            {{ test.to_html(index=False, classes="table table-striped table-hover table-responsive") | safe }}
        </div>
    </div>
</body>

</html>